pre {
	display:none;
}

a{
	color:#ff0000;
	background-color:#ffffff;
	padding:3px;
	font-size:small;
	text-decoration: none;
	width:10em;
	font-weight:normal;
	cursor: hand;
	border-radius:4px;
}

h1 {
color:#FF9156;
padding-top: 3em;
}

body {
background-color:#2E2E2E;
font-family:"Calibri";
padding-top: 0;
margin-top: 0;
}

p {
font-family:"Calibri";
padding:4px;
border-radius:5px;
margin:2px;
display:block;
}

img{
float: none;
width:50%;
height:50%;
}

.Header{
position:fixed;
background:#ffffff;
padding-bottom:1em;
}

.Padding{
 height:20em;
}

.time{
float: left;
width:15em;
background-color:transparent;
}

.Stack {
background-color:#1D1C3C;
color:#E2DF9A;
}

.Misc {
background-color:#eeeeee;
font-weight:bold;
}

.Warning {
background-color:#e48625;
color:#ffffff;
font-weight:bold;
}

.Error {
background-color:#ff2a2a;
color:#ffffff;
font-weight:bold;
}

.Physics {
background-color:#9999ff;]
}

.Audio {
background-color:#aff200;
}

.Graphics {
background-color:#ff99ff;
}

.GUI {
background-color:#cc99ff;
color:9000ff;
}

.AI {
background-color:#99ccff;
}

.GameLogic {
background-color:#99ffff;
}

.System{
background-color:#2a2aff;
color:#ffffff;
}

.Networking {
background-color:#99ffcc;
}

.Content {
background-color:#ff99cc;
}

.Terrain {
background-color:#00aa33;
}

.Social {
background-color:#AAC48A;
}


.NetworkClient {
background-color:#99ffcc;
}

.NetworkServer {
background-color:#99ffcc;
}

.Input {
background-color:#ffcc00;
}

.Button {
	display:inline;
	width:10em;
	border:none;
	border-radius: 5px;
	padding:4px;
	margin:2px;
	cursor: hand;
}